.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-bottom: 2px solid black;
}

.card__title {
  margin: 0;
}

.card__image {
  float: left;
  margin: 7px 7px 7px 0;
  object-fit: cover;
  object-position: center;
  width: 200px;
  height: 200px;
}

.card__description {
  margin: 0;
}

.card__container-date-author {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding-bottom: 10px;
}

.card__author {
  margin: 0;
  font-size: 0.8em;
}

.card__date {
  margin: 0;
  font-size: 0.8em;
  font-style: italic;
}
